---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610937464,"sunrise":1610893087,"sunset":1610928108,"temp":41.32,"feels_like":34.5,"pressure":1011,"humidity":43,"dew_point":21.83,"uvi":0,"clouds":79,"visibility":10000,"wind_speed":3.33,"wind_deg":222,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"minutely":[{"dt":1610937480,"precipitation":0},{"dt":1610937540,"precipitation":0},{"dt":1610937600,"precipitation":0},{"dt":1610937660,"precipitation":0},{"dt":1610937720,"precipitation":0},{"dt":1610937780,"precipitation":0},{"dt":1610937840,"precipitation":0},{"dt":1610937900,"precipitation":0},{"dt":1610937960,"precipitation":0},{"dt":1610938020,"precipitation":0},{"dt":1610938080,"precipitation":0},{"dt":1610938140,"precipitation":0},{"dt":1610938200,"precipitation":0},{"dt":1610938260,"precipitation":0},{"dt":1610938320,"precipitati[...]
